
/*
 ======== Common ========
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fffdf1;
}

p, #content ul, #content ol, #content tbody {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #393939;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a.dashed {
    border-bottom: 1px dashed;
}

a.dashed:hover {
    background: #faf4c2;
}

.rubric {
    color: #cd5c5c;
}

.wrapper {
    width: 100%;
}

footer {
    font-size: 80%;
    color: #393939;
}

.version {
    font-size: 80%;
    color: #ababab;
}

/*
 ======== Sidebar ========
*/

#sidebar {
    width: 250px;
    margin-top: 55px;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 55px);
    z-index: 2;
    background: #fffbdc;
    color: #565656;
    transition: all 0.2s;
    overflow: scroll;
    border-right: 1px solid #e4d768;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar > ul.with-sidebar-tools {
    padding: 65px 0 0 0;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul>li {
    border-bottom: 1px dashed #c3b37e;
}

#sidebar ul>li.saturday {
    border-bottom: 2px solid #dccc92;
}

#sidebar ul>li:last-child {
    border-bottom: 0;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #626262;
    background: #fffdf1;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #626262;
    background: #faf4c2 ;
    font-weight: 600;
}

#sidebar ul li .tempora {
    font-size: 0.7em;
}

#sidebar ul li.sidebar-propers-item ul li a {
    padding-left: 20px;
    font-size: 0.9em;
}

#search-input {
    display: inline-block;
    width: 70%;
    margin: 5% 0 0 5%;
    border-radius: 0.25em;
    border: 1px solid #daa200;
}

#search-clear {
    position: absolute;
    right: 70px;
    top: 0;
    bottom: 0;
    height: 20px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#sidebar-tools {
    background-color: #faf4c2;
    padding: 0 0 25px 0;
    border-bottom: 1px solid #e4d768;
    border-right: 1px solid #e4d768;
    width: 250px;
    height: 65px;
    position: fixed;
    -webkit-box-shadow:0 1px 1px #e4e4e4;
    -moz-box-shadow:0 1px 1px #e4e4e4;
    box-shadow:0 3px 3px #efe9b4;
}

/*
 ------- Datepicker -------
*/

#datetimepicker4 {
    display: inline-block;
    width: 20%;
}

#datetimepicker4 .input-group-text {
    border-radius: 0.25em;
    border: 1px solid #daa200;
    height: 36px;
}

.bootstrap-datetimepicker-widget {
    background-color: #fffdf1;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td span.active {
    background-color: #cd5c5c;
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: #cd5c5c;
}


/*
 ======== Content ========
*/

#content {
    width: calc(100% - 250px);
    padding: 80px 1%;
    background-color: #fffdf1;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

#content h1 {
    font-size: 1.4em;
    color: #565656;
}

#content h2 {
    font-size: 1.1em;
    color: #cd5c5c;
}

#lang-switch {
    position: fixed;
    right: 20px;
    bottom: 10px;
    display: none;
    opacity: 0.75;
}

#lang-switch label.active {
    background-color: #1e1e1e;
}

#content-tools {
    display: none;
}

#content-tools a {
    float: right;
    position: relative;
    z-index: 5;
    margin: 2px;
}

#loader {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

#loader img {
    margin-left: 40%;
    margin-top: 10em;
}

#content th {
    background: #fffbdc;
}

#content table, #content th, #content td {
    border: 1px solid #dbdbdb;
    text-align: center;
}

/*
 ======== Info pages: info, icalendar ========
*/

div.info-page div.codebox {
    background: #ededed;
    border: 1px dashed #7f7f7f;
    padding: 6px;
    border-radius: 3px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    font-family: Courier;
}

iframe#google-cal {
    width: 100%;
    height:300px;
    border-width:0;
    overflow: hidden;
}

p.supplement {
    font-size: 90%;
}

/*
 ======== Media ========
*/

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
}

@media (min-width: 768px) {
    #content-tools {
        display: block;
    }
}

@media (max-width: 575px) {
    #lang-switch {
        display: block;
    }
}


