services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "8081:8081"
    environment:
      - API_URL=http://backend:8080
    networks:
      - app-network
    depends_on:
      - backend

  caddy:
    image: caddy:2
    container_name: caddy
    restart: always
    ports:
      - "8000:8000"
    networks:
      - app-network
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - backend
      - frontend

networks:
  app-network:
    driver: bridge
