[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = ">=3.3.1"
coverage = "*"

[packages]
python-dateutil = "==2.8.1"
click = "==7.0"
flask = "==1.1.1"
gunicorn = "==19.9.0"
jinja2 = "==2.11.3"
icalendar = "==4.0.4"
trans = "==2.1.0"
mistune = "==0.8.4"
pyyaml = "==5.4"
flask-babel = "==1.0.0"
