[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = ">=3.3.1"
coverage = "*"

[packages]
python-dateutil = "*"
click = "*"
flask = "==1.1.1"
gunicorn = "==19.9.0"
jinja2 = "==2.10.1"
icalendar = "*"
trans = "*"
mistune = "*"
pyyaml = "*"
