.light-theme p, #content ul, #content ol, #content tbody {
    color: #393939;
}

.light-theme #content {
    background-color: #fffdf1;
}

.light-theme body {
    background-color: #fffdf1;
}

.light-theme a.dashed:hover {
    background: #faf4c2;
}

.light-theme .rubric {
    color: #cd5c5c;
}

.light-theme #sidebar {
    background: #fffbdc;
    color: #565656;
    border-right: 1px solid #e4d768;
}

.light-theme #sidebar ul.components {
    border-bottom: 1px solid #47748b;
}

.light-theme #sidebar ul>li {
    border-bottom: 1px dashed #c3b37e;
}

.light-theme #sidebar ul>li.saturday {
    padding-bottom: 0;
    border-bottom: 2px solid #dccc92;
}

.light-theme #sidebar ul li a:hover {
    color: #626262;
    background: #fffdf1;
}

.light-theme #sidebar ul li.active>a {
    color: #626262;
    background: #faf4c2 ;
}

.light-theme #search-input {
    background: #fff;
    border: 1px solid #daa200;
}

.light-theme #sidebar-tools {
    background-color: #faf4c2;
    border-bottom: 1px solid #e4d768;
    border-right: 1px solid #e4d768;
    -webkit-box-shadow:0 1px 1px #e4e4e4;
    -moz-box-shadow:0 1px 1px #e4e4e4;
    box-shadow:0 3px 3px #efe9b4;
}

.light-theme #datetimepicker4 .input-group-text {
    border: 1px solid #daa200;
}

.light-theme .bootstrap-datetimepicker-widget {
    background-color: #fffdf1;
}

.bootstrap-datetimepicker-widget table td.active,
.light-theme .bootstrap-datetimepicker-widget table td span.active {
    background-color: #cd5c5c;
}

.light-theme .bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: #cd5c5c;
}

.light-theme #content h1 {
    color: #565656;
}

.light-theme #content h2 {
    color: #cd5c5c;
}

.light-theme #lang-switch {
    opacity: 0.75;
}

.light-theme footer, .version  {
    color: #393939;
}
