{
	auto_https off
	email marcin@missalemeum.com
}

http://:8000 {
	log {
		output stdout
		level INFO
	}

	# Redirect legacy /<lang>/<YYYY-MM-DD> to /<lang>/calendar/<YYYY-MM-DD>
	@legacyCalendar path_regexp legacyCalendar ^/(?P<lang>[a-z]{2})/(?P<date>\d{4}-\d{2}-\d{2})$
	redir @legacyCalendar /{http.regexp.legacyCalendar.lang}/calendar/{http.regexp.legacyCalendar.date} 301

	handle /pl/api/* {
		reverse_proxy backend:8080
	}

	handle /en/api/* {
		reverse_proxy backend:8080
	}

	reverse_proxy frontend:8081
}