{% extends "base1col.html" %}

{% block title %}
Informacje |
{% endblock %}

{% block content1col %}
<h1>Informacje</h1>
<p>
    Strona Mszał Rzymski powstała na chwałę Boską i pożytek ludzki, aby w jednym miejscu zebrać
    i w przystępnej formie udostępnić cyfrową wersję kalendarza liturgicznego i wszystkich czytań
    mszalnych wg układu z 1962 r. dla Mszy Trydenckiej.
</p>
<p>
    Teksty polskie pochodzą z “Mszału Rzymskiego” Wydawnictwa Pallotinum 1965 r. – za zgodą Wydawnictwa.
    Teksty łacińskie pochodzą w większości z czcigodnej strony
    <a class="dashed" target="_blank" href="https://divinumofficium.com">Divinum Officium</a> oraz częściowo z w/w
    Mszału. Kod strony
    dostępny jest w <a class="dashed" target="_blank" href="https://github.com/mmolenda/Missal1962">repozytorium github</a>.
    Strona została zbudowana jako prywatny projekt i nie reprezentuje ona żadnej oficjalnej organizacji ani
    grupy.
</p>

<h2>Wsparcie</h2>
<p><em>«Żniwo wprawdzie wielkie, ale robotników mało.»</em> – mówi Pan Jezus.</p>
<p>Jeśli podoba Ci się strona Mszał Rzymski, możesz pomóc ją rozwijać:</p>
<ul>
    <li>ofiarowując modlitwę w intencji projektu i jego twórców,</li>
    <li>dobrym słowem, pomysłem, uwagą, zgłoszeniem błędu – każdy odzew motywuje nas do dalszej pracy,</li>
    <li>rozpowszechniając stronę,</li>
    <li>przepisując teksty ze źródeł papierowych – w planach komentarze do Ewangelii, Msze wotywne, pieśni, modlitwy,</li>
    <li>ofiarowując datek na utrzymanie serwisu – (PL)23195000012006002143730001 (Idea), Marcin Molenda.</li>
</ul>

<h2>Kontakt</h2>
<p>
    Wszelkie uwagi, pomysły, zapytania, zgłoszenia błędów można kierować za pośrednictwem poniższego formularza.
</p>
<form id="contact-form" action="" method="POST">
    <div class="form-group">
        <label for="input-text">Treść</label>
        <textarea class="form-control" id="input-text" name="name" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="input-email">Email</label>
        <input type="email" class="form-control" id="input-email" name="_replyto">
    </div>
    <input type="text" name="_gotcha" style="display:none" />
    <button type="submit" class="btn btn-secondary">Wyślij</button>
</form>

{% include 'footer.html' %}
{% endblock %}

{% block scripts %}
<script>
    let contactform =  document.getElementById('contact-form');
    contactform.setAttribute('action', atob("aHR0cHM6Ly9mb3Jtc3ByZWUuaW8vc3VwcG9ydEBtb2xlbmRhLmV1"));
</script>
{% endblock %}
