{% extends "base1col.html" %}

{% block title %}
Suplement |
{% endblock %}

{% block content1col %}
<h1>Suplement</h1>

<h2>Okresy liturgiczne</h2>
<p>Opisy okresów liturgicznych z rozważaniem i przepisami obrzędowymi. Odnośnik do danego okresu liturgicznego
    wyświetla się również w opisie formularza dnia rozpoczynającego ten okres, np.
    <a class="dashed" href="/{{ lang }}/2019-02-17">Niedziela Siedemdziesiątnicy</a>.
</p>
<div class="row">
    <div class="col-sm-6">
        <ul style="list-style-type: none;">
            <li><a class="dashed" href="/{{ lang }}/supplement/1-wprowadzenie?ref=supplement">Wprowadzenie</a></li>
            <li><a class="dashed" href="/{{ lang }}/supplement/2-adwent?ref=supplement">Adwent</a></li>
            <li><a class="dashed" href="/{{ lang }}/supplement/3-boze-narodzenie?ref=supplement">Boże Narodzenie</a></li>
            <li><a class="dashed" href="/{{ lang }}/supplement/4-okres-po-objawieniu?ref=supplement">Okres po Objawieniu</a></li>
            <li><a class="dashed" href="/{{ lang }}/supplement/5-przedposcie?ref=supplement">Przedpoście</a></li>
            <li><a class="dashed" href="/{{ lang }}/supplement/6-wielki-post?ref=supplement">Wielki Post</a></li>
        </ul>
    </div>
    <div class="col-sm-6">
        <ul style="list-style-type: none;">
            <li><a class="dashed" href="/{{ lang }}/supplement/7-wielki-tydzien?ref=supplement">Wielki Tydzień</a></li>
            <li><a class="dashed" href="/{{ lang }}/supplement/8-okres-meki-panskiej?ref=supplement">Okres Męki Pańskiej</a></li>
            <li><a class="dashed" href="/{{ lang }}/supplement/9-okres-wielkanocny?ref=supplement">Okres Wielkanocny</a></li>
            <li><a class="dashed" href="/{{ lang }}/supplement/10-zeslanie-ducha-sw?ref=supplement">Zesłanie Ducha św.</a></li>
            <li><a class="dashed" href="/{{ lang }}/supplement/11-okres-po-zeslaniu-ducha-sw?ref=supplement">Okres po Zesłaniu Ducha św.</a></li>
        </ul>
    </div>
</div>

<h2>Sakramenty</h2>
<div class="row">
    <div class="col-sm-6">
        <ul style="list-style-type: none;">
            <li><a class="dashed" href="/{{ lang }}/supplement/20-chrzest?ref=supplement">Chrzest</a></li>
            <li><a class="dashed" href="/{{ lang }}/supplement/21-pokuta?ref=supplement">Pokuta</a></li>
        </ul>
    </div>
</div>
<p>

</p>

<h2>Ebook</h2>
<p>Mszalik z czytaniami na niedziele i święta i z komentarzem do Ewangelii na czytniki w formacie
    <a class="dashed" target="_blank" href="https://www.dropbox.com/s/88z242hgr0q6e2e/mszalik.epub?dl=0">epub</a>
    oraz
    <a class="dashed" target="_blank" href="https://www.dropbox.com/s/e6f208kf5cb1ufi/mszalik.mobi?dl=0">mobi (Kindle)</a>.</p>

<h2>Instruckcja dla początkujących</h2>
<p>Instrukcja mająca na celu ułatwienie osobom początkującym uczestnictwo we Mszy św. Wszechczasów. Zawiera części stałe,
    zredukowane do fragmentów widocznych i słyszalnych dla wiernych oraz krótki opis tego, co w danej chwili dzieje się na ołtarzu.
    Dla uproszczenia pominięto większość modlitw cichych, aby na początku pomóc skupić się na modlitwie i ogólnym wrażeniu bardziej niż na szczegółach.</p>
<p><a class="dashed" target="_blank" href="https://www.dropbox.com/s/a94bingl33xlirx/msza-dla-pocz%C4%85tkuj%C4%85cych.pdf?dl=0">Msza-dla-początkujących.pdf</a></p>

<h2>iCalendar</h2>
<p>Widok roku liturgicznego wg Mszału z 1962 r. w formacie
    <a class="dashed" target="_blank" href="https://pl.wikipedia.org/wiki/ICalendar">iCalendar</a>.</p>
<div class="codebox">https://www.missalemeum.com/pl/api/v3/icalendar</div>
<p>
    Można go wyświetlić w dowolnej aplikacji prezentującej kalendarz, np. Google Calendar
    (<a class="dashed" target="_blank" href="https://support.google.com/calendar/answer/37100">instrukcja</a>),
    czy Microsoft Outlook. Link zawiera wszystkie niedziele i święta. W opisie każdego wydarzenia kalendarza
    znajduje się odnośnik do odpowiedniego formularza na stronie internetowej.
</p>
<iframe id="google-cal" src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FWarsaw&amp;src=djZtY3ZlNW5oaGRrb2xndmFyYTdwYW1yMTRuZmpwdjJAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23515151&amp;showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;showNav=1&amp;showPrint=0&amp;showTabs=1&amp;mode=AGENDA"></iframe>
{% include 'partials/footer.html' %}
{% endblock %}