{% extends "base1col.html" %}

{% block title %}
    About |
{% endblock %}

{% block content1col %}
    <h1>About the project</h1>
    <p>
        Website Missale Meum has been established for God's greater glory and for people's avail.
        The site incorporates a complete liturgical calendar with propers and other texts
        used in the Tridentine Mass and presents them in a comprehensible manner.
    </p>
    <p>
        English and Latin texts come from the venerable website <a class="dashed" target="_blank" href="https://divinumofficium.com">Divinum Officium</a>.
        Some parts of Ordo have been borrowed from <a class="dashed" target="_blank" href="https://www.fisheaters.com/">Fish Eaters</a>.
        The project's codebase is available in <a class="dashed" target="_blank" href="https://github.com/mmolenda/Missal1962">github repository</a>.
        This website is a private project and does not represent any official organization or group.
    </p>

    <h2>Support</h2>
    <p><em>« The harvest indeed is great, but the labourers are few.»</em> – says our Lord Jesus Christ.</p>
    <p>If you appreciate Missale Meum project, you can help improve it:</p>
    <ul>
        <li>by offering prayers for the project and its authors,</li>
        <li>by providing your feedback – every opinion, suggestion, idea, error report is invaluable and motivates further work,</li>
        <li>by disseminating the project,</li>
        <li>by providing content, such as missing texts, bible commentaries, etc.,</li>
        <li>by providing a donation for service maintenance and development
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="8ZRGD3CQFKM42" />
                <input type="image" src="https://www.paypalobjects.com/en_US/PL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_PL/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </li>
    </ul>


    <h2>Contact</h2>
    <p>
        All opinions, suggestions, ideas, error reports, etc., can be directed through the form below.
    </p>
    <form id="contact-form" action="" method="POST">
        <div class="form-group">
            <label for="input-text">Content</label>
            <textarea class="form-control" id="input-text" name="name" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="input-email">Email</label>
            <input type="email" class="form-control" id="input-email" name="_replyto">
        </div>
        <input type="text" name="_gotcha" style="display:none" />
        <button type="submit" class="btn btn-secondary">Send</button>
    </form>

    {% include 'partials/footer.html' %}
{% endblock %}

{% block scripts %}
    <script>
        let contactform =  document.getElementById('contact-form');
        contactform.setAttribute('action', atob("aHR0cHM6Ly9mb3Jtc3ByZWUuaW8vc3VwcG9ydEBtb2xlbmRhLmV1"));
    </script>
{% endblock %}
