{% extends "base.html" %}

{% block title %}
{% if title %} {{ title }} | {% endif %} {% if date %} {{ date }} | {% endif %}
{% endblock %}

{% block left_menu_button %}
<button id="sidebar-collapse" class="navbar-toggler" type="button">
    <span>≡</span>
</button>
{% endblock %}

{% block content %}
<div class="wrapper">
    <nav id="sidebar">

        <div id="sidebar-tools">
            <input id="search-input" type="search" placeholder="{{ _('Search…') }}" class="form-control"/>
            <span id="search-clear">╳</span>
            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4"
                       style="display: none"/>
            </div>
        </div>
        <ul class="list-unstyled with-sidebar-tools">
        </ul>
    </nav>
    <div id="content" role="main" class="container-fluid">
        <div class="col-md-9" id="content-tools">
            <a id="print"><i class="fa fa-print"></i></a>
        </div>
        <main class="col-md-9">
            <div id="loaded-content">
                <h1 class="display-8">{% if title %}{{ title }}{% else %}Missale Meum{% endif %}</h1>
                {% if propers %}
                    <p>{{ propers[0].info.description }}</p>
                    {% if propers[0].info.supplements %}
                        <p class="supplement">
                            Suplement:
                            {% for supplement in propers[0].info.supplements %}
                                <a class="dashed" href="{{ supplement.path }}">{{ supplement.label }}</a>
                            {% endfor %}
                        </p>
                    {% endif %}

                    {% for section in propers[0].sections %}
                        <div class="row">
                            <div class="col-sm-6 section-vernacular">
                                <h2>{{ section.label }}</h2>
                            </div>
                            <div class="col-sm-6 section-latin">
                                <h2>{{ section.id }}</h2>
                            </div>
                        </div>
                        {% for paragraph in section.body %}
                            {% if paragraph|length == 2 %}
                                <div class="row">
                                    <div class="col-sm-6 section-vernacular">
                                        <p>{{ paragraph[0]|asterisks2em|newline2br|safe }}</p>
                                    </div>
                                    <div class="col-sm-6 section-latin">
                                        <p>{{ paragraph[1]|asterisks2em|newline2br|safe }}</p>
                                    </div>
                                </div>
                            {% else %}
                                <p><span class="rubric">{{ paragraph[0] }}</span></p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <p>{{ _('The 1962 Roman Missal containing the liturgical calendar and the readings for Traditional Latin Mass (Extraordinary form of the Roman Rite, Tridentine Mass, TLM)') }}</p>
                {% endif %}
            </div>
            {% include 'partials/footer.html' %}
        </main>
        {% include 'partials/lang_switch.html' %}
    </div>
    {% include 'partials/loader.html' %}
</div>

{% include 'partials/js_templates.html' %}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/static/js/{{ lang }}/conf.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/proprium.js"></script>
{% endblock %}
