{% if propers[0].info.date %}
    <p><em class="rubric">{{ propers[0].info.date }} | {{ propers[0].info.rank }} klasy</em></p>
{% endif %}
<p>{{ propers[0].info.description }}</p>
{% if propers[0].info.supplements %}
    <p class="supplement">
        Suplement:
        {% for supplement in propers[0].info.supplements %}
            <a class="dashed" href="{{ supplement.path }}">{{ supplement.label }}</a>
        {% endfor %}
    </p>
{% endif %}

{% for section in propers[0].sections %}
    <div class="row">
        <div class="col-sm-6 section-vernacular">
            <h2>{{ section.label }}</h2>
        </div>
        <div class="col-sm-6 section-latin">
            <h2>{{ section.id }}</h2>
        </div>
    </div>
    {% for paragraph in section.body %}
        {% if paragraph|length == 2 %}
            <div class="row">
                <div class="col-sm-6 section-vernacular">
                    <p>{{ paragraph[0]|asterisks2em|newline2br|safe }}</p>
                </div>
                <div class="col-sm-6 section-latin">
                    <p>{{ paragraph[1]|asterisks2em|newline2br|safe }}</p>
                </div>
            </div>
        {% else %}
            <p><span class="rubric">{{ paragraph[0] }}</span></p>
        {% endif %}
    {% endfor %}
{% endfor %}