{% extends "base1col.html" %}

{% block title %}
Supplement |
{% endblock %}

{% block content1col %}
<h2>iCalendar</h2>
<p>1962 liturgical calendar is available in <a class="dashed" target="_blank" href="https://en.wikipedia.org/wiki/ICalendar">iCalendar</a> format.</p>
<div class="codebox">https://www.missalemeum.com/en/api/v3/icalendar</div>
<p>
    It can be loaded into any calendar application, such as Google Calendar
    (<a class="dashed" target="_blank" href="https://support.google.com/calendar/answer/37100?hl=en ">manual</a>),
    or Microsoft Outlook. The link contains all Sundays and major feasts. In the description of each calendar event
    there is a link to the respective proper on the website.
</p>
<iframe id="google-cal" src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FWarsaw&amp;src=OWZzajQxcTE4MDQ1NWFpcmw4NnZuYzlib2p2MXAybzdAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23515151&amp;hl=en&amp;showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;showNav=1&amp;showPrint=0&amp;showTabs=1&amp;mode=AGENDA"></iframe>
{% include 'partials/footer.html' %}
{% endblock %}