{% extends "base.html" %}

{% block title %}
404 |
{% endblock %}

{% block content %}
<div class="wrapper">
    <div id="content" role="main" class="container-fluid info-page">
        <main class="col-md-9">
            <h1>404</h1>
            <p>{{ _('Page not found') }}</p><p><a class="dashed" href="/{{ lang }}">{{ _('Back to the homepage') }}</a></p>
        </main>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
{% endblock %}
