<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <title>
        {% block title %}{% endblock %}  Missale Meum
    </title>
    <meta name="description" content="{{ _('The 1962 Roman Missal containing the liturgical calendar and the readings for Traditional Latin Mass (Extraordinary form of the Roman Rite, Tridentine Mass, TLM)') }}" />
    <meta name="author" content="Marcin Molenda">
    <meta property="og:image" content="http://www.missalemeum.com/static/img/icon-192x192.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fffdf1">
    <link rel="alternate" hreflang="pl" href="https://www.missalemeum.com/pl" />
    <link rel="alternate" hreflang="en" href="https://www.missalemeum.com/en" />
    <link rel="manifest" href="/static/manifest.json">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/static/img/icon-16x16.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon-180x180.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58957315-2"></script>
    <script>
        if(window.location.hostname.endsWith("missalemeum.com")) {
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', 'UA-58957315-2', {'anonymize_ip': true});
            gtag('config', 'UA-58957315-2');
        }
    </script>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        {% block left_menu_button %}{% endblock %}

        <a class="navbar-brand" href="/{{ lang }}">Missale Meum</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span>⋮</span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item
                {% if proper_active %}
                    active
                {% endif %}">
                    <a class="nav-link" href="/{{ lang }}">Proprium<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if '/ordo' in request.path %}active{% endif %}">
                    <a class="nav-link" href="/{{ lang }}/ordo">Ordo</a>
                </li>
                <li class="nav-item {% if '/votive' in request.path %}active{% endif %}">
                    <a class="nav-link" href="/{{ lang }}/votive">{{ _('Votive') }}</a>
                </li>
                {%  if lang == 'pl' %}
                <li class="nav-item {% if '/oratio' in request.path %}active{% endif %}">
                    <a class="nav-link" href="/{{ lang }}/oratio">{{ _('Prayers') }}</a>
                </li>
                <li class="nav-item {% if '/canticum' in request.path %}active{% endif %}">
                    <a class="nav-link" href="/{{ lang }}/canticum">{{ _('Songs') }}</a>
                </li>
                {% endif %}
                <li class="nav-item {% if '/supplement' in request.path %}active{% endif %}">
                    <a class="nav-link" href="/{{ lang }}/supplement">{{ _('Supplement') }}</a>
                </li>
                <li class="nav-item {% if '/info' in request.path %}active{% endif %}">
                    <a class="nav-link" href="/{{ lang }}/info">{{ _('About') }}</a>
                </li>
            </ul>
            <ul class="navbar-nav dropdown dropdown-menu-right">
                <li class="nav-item">
                    <a class="nav-item nav-link dropdown-toggle" href="#" id="lang-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ langs[lang] }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" id="lang-dropdown-menu" aria-labelledby="lang-dropdown">
                        {% for lang_id, lang_name in langs.items() %}
                            <a class="dropdown-item" href="/{{ lang_id }}">{{ lang_name }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

{% block content %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
