<!DOCTYPE html>
<html lang="pl">

<head>
    <title>
        {% if title %} {{ title }} | {% endif %} {% if date %} {{ date }} | {% endif %} Mszał Rzymski
    </title>
    <meta name="description" content="Mszał Rzymski z czytaniami wg układu z 1962 r. dla Mszy Trydenckiej." />
    <meta name="author" content="Marcin Molenda">
    <meta property="og:image" content="http://www.mszalrzymski.pl/static/img/icon-192x192.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fffdf1">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/static/img/icon-16x16.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon-180x180.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58957315-2"></script>
    <script>
        if(window.location.hostname.endsWith("mszalrzymski.pl")) {
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', 'UA-58957315-2', {'anonymize_ip': true});
            gtag('config', 'UA-58957315-2');
        }
    </script>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        {% block left_menu_button %}{% endblock %}

        <a class="navbar-brand" href="/">Mszał Rzymski</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span>⋮</span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto pull-right">
                <li class="nav-item
                {% if request.path not in ('/ordo', '/info', '/icalendar') %}
                    active
                {% endif %}">
                    <a class="nav-link" href="/">Czytania<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if request.path == '/ordo' %}active{% endif %}">
                    <a class="nav-link" href="/ordo">Części stałe</a>
                </li>
                <li class="nav-item {% if request.path == '/icalendar' %}active{% endif %}">
                    <a class="nav-link" href="/icalendar">iCalendar</a>
                </li>
                <li class="nav-item {% if request.path == '/info' %}active{% endif %}">
                    <a class="nav-link" href="/info">Informacje</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

{% block content %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
