{% extends "base1col.html" %}

{% block content1col %}
<h1>Mszał w formacie iCalendar</h1>
<p>Widok roku liturgicznego wg Mszału z 1962 r. dostępny jest teraz również jako link w formacie
    <a class="dashed" target="_blank" href="https://pl.wikipedia.org/wiki/ICalendar">iCalendar</a>,
    który można  wyświetlić w dowolnej aplikacji prezentującej kalendarz, np. Google Calendar, czy Microsoft Outlook.
    Link pozwala wyświetlać wszystkie dni pierwszej i drugiej klasy.
    W opisie każdego wydarzenia kalendarza znajduje się link do odpowiedniego formularza na stronie internetowej.
</p>
<p>Aby dodać Mszał w formacie iCalendar do kalendarza Google:</p>
<ol>
    <li>Otwórz <a class="dashed" target="_blank" href="https://calendar.google.com">stronę kalendarza</a> w przglądarce internetowej</li>
    <li>W lewym panelu kliknij + przy sekcji <strong>Inne kalendarze</strong></li>
    <li>Z kontekstowego menu, które się otworzyło wybierz <strong>Z adresu URL</strong></li>
    <li>W oknie, które się otworzyło, w polu <strong>URL kalendarza</strong> wklej adres: <br><span class="codebox">https://www.mszalrzymski.pl/api/v2/icalendar</span>
    </li>
</ol>

<div class="row">
    <div class="col-sm-6">
        <div class="card" >
            <img src="/static/img/icalendar1.png" class="card-img-top" alt="iCalendar Android">
            <div class="card-body">
                <p class="card-text">Widok tygodniowy w aplikacji Kalendarz na Androidzie.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" >
            <img src="/static/img/icalendar2.png" class="card-img-top" alt="iCalendar macOS">
            <div class="card-body">
                <p class="card-text">Widok miesięczny w aplikacji Calendar na macOS.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

