{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <nav id="sidebar">
        <ul class="list-unstyled">
        </ul>
    </nav>
    <div id="content" role="main" class="container-fluid">
        <div class="col-md-9" id="content-tools">
            <a id="print"><i class="fa fa-print"></i></a>
        </div>
        <main class="col-md-9">
        </main>
        <div id="lang-switch" class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="lang-switch" id="lang-switch-vernacular"> pol
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="lang-switch" id="lang-switch-latin"> łac
            </label>
        </div>
    </div>
    <div id="loader" style="display: none">
        <img src="static/img/loader.gif">
        <!--https://loading.io/spinner/book/-flip-book-loader-->
    </div>
</div>

<!--Templates -->
<script id="template-section-title" type="text/x-custom-template">
    <h1>Części stałe Mszy św.</h1>
</script>
<script id="template-ordo-item" type="text/x-custom-template">
    <div class="ordo-item" id="ordo-item-${id}">${title}</div>
</script>
<script id="template-section-subtitle" type="text/x-custom-template">
    <h2>${title}</h2>
</script>
<script id="template-rubric" type="text/x-custom-template">
    <p><span class="rubric">${rubric}</span></p>
</script>
<script id="template-content-columns" type="text/x-custom-template">
    <div class="row">
        <div class="col-sm-6 section-vernacular">
            <p>${sectionVernacular}</p>
        </div>
        <div class="col-sm-6 section-latin">
            <p>${sectionLatin}</p>
        </div>
    </div>
</script>
<script id="template-sidebar-ordo-item" type="text/x-custom-template">
    <li id="sidebar-ordo-item-${id}" class="sidebar-ordo-item"><a href="#${id}">
        <div>${title}</div>
    </a></li>
</script>
<script id="template-content-print" type="text/x-custom-template">
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body onload="window.print()" style='margin: 4%; min-width: 300px;'>${main}<p><em>http://mszalrzymski.pl</em></p></body>
    </html>
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<script type="text/javascript" src="static/js/conf.js"></script>
<script type="text/javascript" src="static/js/ordo.js"></script>
{% endblock %}
