{% extends "base.html" %}

{% block left_menu_button  %}
<button id="sidebar-collapse" class="navbar-toggler" type="button">
    <span>≡</span>
</button>
{% endblock %}

{% block content %}
<div class="wrapper">
    <nav id="sidebar">
        <ul class="list-unstyled">
            {% for item in data %}
                <li id="sidebar-ordo-item-{{ item['title']|slugify }}" class="sidebar-ordo-item {% if loop.index == 1 %}active{% endif %}">
                    <a href="#{{ item['title']|slugify }}">
                        <div>{{ item['title'] }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div id="content" role="main" class="container-fluid">
        <div class="col-md-9" id="content-tools">
            <a id="print"><i class="fa fa-print"></i></a>
        </div>
        <main class="col-md-9">
            <h1>Części stałe Mszy św.</h1>
            {% for item in data %}
            <div class="ordo-item" id="ordo-item-{{ item['title']|slugify }}">
                <h2>{{ item['title'] }}</h2>
                {% for body_item in item['body'] %}
                    {% if body_item|length == 2 %}
                        <div class="row">
                            <div class="col-sm-6 section-vernacular">
                                <p>
                                    {{ body_item[0]|parse_section|safe }}
                                </p>
                            </div>
                            <div class="col-sm-6 section-latin">
                                <p>
                                    {{ body_item[1]|parse_section|safe }}
                                </p>
                            </div>
                        </div>
                    {% else %}
                        <p><span class="rubric">{{ body_item }}</span></p>
                    {% endif %}
                {% endfor %}
                </div>
                {% endfor %}
        </main>
        <div id="lang-switch" class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="lang-switch" id="lang-switch-vernacular"> pol
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="lang-switch" id="lang-switch-latin"> łac
            </label>
        </div>
    </div>
</div>

<!--Templates -->
<script id="template-content-print" type="text/x-custom-template">
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body onload="window.print()" style='margin: 4%; min-width: 300px;'>${main}<p><em>http://mszalrzymski.pl</em></p></body>
    </html>
</script>
{% endblock %}

{% block scripts %}
<script src="/static/js/common.js"></script>
<script src="/static/js/conf.js"></script>
<script src="/static/js/ordo.js"></script>
{% endblock %}
