{% extends "base.html" %}

{% block title %}
    {{ _('Order of Mass') }} |
{% endblock %}

{% block left_menu_button  %}
<button id="sidebar-collapse" class="navbar-toggler" type="button">
    <span>≡</span>
</button>
{% endblock %}

{% block content %}
<div class="wrapper">
    <nav id="sidebar">
        <ul class="list-unstyled">
            {% for item in data %}
                <li id="sidebar-ordo-item-{{ item['title']|slugify }}" class="sidebar-ordo-item {% if loop.index == 1 %}active{% endif %}">
                    <a href="#{{ item['title']|slugify }}">
                        <div>{{ item['title'] }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div id="content" role="main" class="container-fluid">
        <div class="col-md-9" id="content-tools">
            <a id="print"><i class="fa fa-print"></i></a>
        </div>
        <main class="col-md-9">
            <div id="loaded-content">
                <h1>{{ _('Order of Mass') }}</h1>
                {% for item in data %}
                <div class="ordo-item" id="ordo-item-{{ item['title']|slugify }}">
                    <h2>{{ item['title'] }}</h2>
                    {% for body_item in item['body'] %}
                        {% if body_item|length == 2 %}
                            <div class="row">
                                <div class="col-sm-6 section-vernacular">
                                    <p>
                                        {{ body_item[0]|asterisks2em|newline2br|safe }}
                                    </p>
                                </div>
                                <div class="col-sm-6 section-latin">
                                    <p>
                                        {{ body_item[1]|asterisks2em|newline2br|safe }}
                                    </p>
                                </div>
                            </div>
                        {% else %}
                            <p><span class="rubric">{{ body_item[0] }}</span></p>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {% include 'partials/footer.html' %}
        </main>
        {% include 'partials/lang_switch.html' %}
    </div>
</div>

{% include 'partials/js_templates.html' %}
{% endblock %}

{% block scripts %}
<script src="/static/js/common.js"></script>
<script src="/static/js/{{ lang }}/conf.js"></script>
<script src="/static/js/ordo.js"></script>
{% endblock %}
