{% extends "base.html" %}

{% block title %}
    {{ title }} |
{% endblock %}

{% block left_menu_button  %}
<button id="sidebar-collapse" class="navbar-toggler" type="button">
    <span>≡</span>
</button>
{% endblock %}

{% block content %}
<div class="wrapper">
    <nav id="sidebar">
        <div id="sidebar-tools">
            <input id="search-input" type="search" placeholder="Szukaj..." class="form-control"/>
            <span id="search-clear">╳</span>
        </div>
        <ul class="list-unstyled with-sidebar-tools">
            {% for item in index %}
            <li id="sidebar-item-{{ item['ref'].replace('/', '-') }}" class="sidebar-item"><a href="{{ item['ref'] }}">
                <div>{{ item['title'] }}</div>
                <div class="tempora rubric">
                    {% for tag in item['tags'] %}
                        {{ tag }}{% if item['tags']|length > 1 and loop.index0 + 1 < item['tags']|length %}, {% endif %}
                    {% endfor %}
                </div>
            </a></li>
            {% endfor %}

        </ul>
    </nav>
    <div id="content" role="main" class="container-fluid">
        <div class="col-md-9" id="content-tools">
            <a id="print"><i class="fa fa-print"></i></a>
        </div>
        <main class="col-md-9">
            <div id="loaded-content">
                <h1 class="display-8">{{ title }}</h1>
            </div>
            {% include 'partials/footer.html' %}
        </main>
    </div>
</div>

{% include 'partials/js_templates.html' %}
{% endblock %}

{% block scripts %}
<script src="/static/js/common.js"></script>
<script src="/static/js/{{ lang }}/conf.js"></script>
<script src="/static/js/supplement.js"></script>
{% endblock %}
