@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    color: #494949;
}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.rubric {
    color: #cd5c5c;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


.container-fluid {
    padding: 60px 1%;
    background-color: #fffdf1;
}

.container-fluid h1 {
    font-size: 1.4em;
    color: #565656;
}

.container-fluid h2 {
    font-size: 1.1em;
    color: #565656;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fffbdc;
    color: #565656;
    transition: all 0.3s;
    padding-top: 80px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #626262;
    background: #fffdf1;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #626262;
    background: #faf4c2 ;
}

#sidebar ul li .tempora {
    font-size: 0.7em;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
